@import "/src/style/mixin/responsive.scss";

.demo {
  h1 {
    background-color: red;

    @include tablet{
        background-color: green;
    }

    @include sp{
        background-color: blue;
    }
  }
}


